http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/rate-limit?api_key=%3Capi-key%3E
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"api_key":"uGr...ei5","is_grandfathered":true,"rate_limit":{"daily_budget_usd":200,"daily_used_usd":0.2238,"daily_remaining_usd":199.7762,"prepaid_balance_usd":0,"prepaid_remaining_usd":0,"prepaid_expires_at":null,"resets_at":"2026-05-23T00:00:00.000Z","resets_in_seconds":41669,"endpoint_costs_usd":{"singleton":0,"list":0.0001,"search":0.0001,"content":0.01,"semantic":0.001,"text":0.01},"credits_limit":2000000,"credits_used":2238,"credits_remaining":1997762,"onetime_credits_balance":0,"onetime_credits_remaining":0,"onetime_credits_expires_at":null,"credit_costs":{"singleton":0,"list":1,"search":1,"content":100,"semantic":10,"text":100}}}'
  recorded_at: 2026-05-22 12:25:31
recorded_with: VCR-vcr/2.1.0
