http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title_and_abstract.search%3Abiodiversity+AND+finance%2Cto_publication_date%3A2010-01-01&per_page=1&select=ids&page=1&api_key=%3Capi-key%3E
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '2000000'
      x-ratelimit-limit-usd: '200'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '1998085'
      x-ratelimit-remaining-usd: '199.8085'
      x-ratelimit-reset: '41741'
    body:
      string: '{"meta": {"count": 422, "db_response_time_ms": 16, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.0001}, "results": [{"ids": {"openalex":
        "https://openalex.org/W4235089722", "doi": "https://doi.org/10.1111/1468-2346.00131"}}],
        "group_by": []}'
  recorded_at: 2026-05-22 12:24:18
recorded_with: VCR-vcr/2.1.0
